body {
  background-color: whitesmoke;
  color: brown;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.gallery-list li {
  text-align: center;
}

.gallery-list li:not(:nth-child(even)) {
  margin-right: 20px;
}
